html {
  font-family: Arial, Raleway;
}

body {
  margin-left: 60px;
}

div {
  margin-left: -60px;
  background-color: grey;
  border-style: solid;
  border-width: medium;
}

h1 {
  margin-left: 60px;
}

h1, h2 {
  font-weight: 100;
}

#button {
  border-radius: 13px;
}